## Разминка

In [ ]:
import pandas as pd

df = pd.DataFrame({'A':['X', 'Y', 'X', 'Z', 'x'], 'B':[2, 4, 2, 5, 2]})
df

   A  B
0  X  2
1  Y  4
2  X  2
3  Z  5
4  x  2

### 1. Что выведет функция?

In [ ]:
df.duplicated()

0    False
1    False
2     True
3    False
4    False
dtype: bool

###2. Как посчитать число дублей?

In [ ]:
df.duplicated().sum()

1

### 3. Какую строчку выведет код?

In [ ]:
df[df.duplicated() == True]

   A  B
2  X  2

### 4. Что выведет код?

In [ ]:
df[df.duplicated(keep = False)]

   A  B
0  X  2
2  X  2

### 5. Как получить первые строчки-дубли вместо последних?

In [ ]:
df.duplicated(keep = 'last')

0     True
1    False
2    False
3    False
4    False
dtype: bool

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

## Датасет фильмов в российском прокате

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/data/movies/ rental_licenses.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2,13,18,19,20,32,35,37,40,44) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head(3)

,Название фильма,Hаименование на иностранном языке,Номер удостоверения,Дата регистрации удостоверения,Дата начала показа фильма,Примечание,Идентификатор записи реестра,Аннотация,Вид Фильма,Категория,...,Код,Права проката переданы,Порядковый номер переоформления/продления,Должность подписанта,ФИО подписанта,Запись удалена,Дата удаления записи,Не показывать на сайте mkrf.ru,дата создания объекта,дата обновления объекта
0,Почти знаменит,Almost Famous,221006316,2016-02-09T12:00:00.000Z,2016-02-09T12:00:00.000Z,NaN,2157027,"В ролях: Фрэнсис МакДорманд, Кейт Хадсон. Исто...",Художественный,Видео,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-05T14:10:11+03:00,2018-04-09T09:12:02+03:00
1,Открытое окно.,Open Window,221027814,2014-06-30T12:00:00.000Z,2014-06-30T12:00:00.000Z,NaN,2157028,"В главных ролях: Робин Тюннин, Джоэль Эдгертон...",Художественный,Видео,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-05T14:10:11+03:00,2018-04-09T09:12:02+03:00
2,Открытый простор,Open Range,221048915,2015-11-27T12:00:00.000Z,2015-11-27T12:00:00.000Z,NaN,2157029,"Драма-вестерн. В ролях: Роберт Дюволл, Кевин К...",Художественный,Кино,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-05T14:10:11+03:00,2018-04-09T09:12:02+03:00

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91402 entries, 0 to 91401
Data columns (total 48 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Название фильма                                        91402 non-null  object
 1   Hаименование на иностранном языке                      47537 non-null  object
 2   Номер удостоверения                                    91402 non-null  object
 3   Дата регистрации удостоверения                         91400 non-null  object
 4   Дата начала показа фильма                              91193 non-null  object
 5   Примечание                                             29105 non-null  object
 6   Идентификатор записи реестра                           91402 non-null  int64
 7   Аннотация                                              85723 non-null  object
 8   Вид Фильма                                             91397 non-null  object
 9   Категория                                              91402 non-null  object
 10  Язык оригинала                                         4 non-null      float64
 11  Формат кадра                                           13215 non-null  object
 12  Количество серий                                       34856 non-null  float64
 13  Метраж (для фильмов на кинопленке)                     12575 non-null  object
 14  Количество частей/рулонов (для фильмов на кинопленке)  14193 non-null  object
 15  Цвет                                                   91399 non-null  object
 16  Продолжительность демонстрации, часы                   75138 non-null  float64
 17  Продолжительность демонстрации, минуты                 88905 non-null  float64
 18  Формат носителя                                        5352 non-null   object
 19  Объем носителя                                         2426 non-null   object
 20  Единица измерения                                      2400 non-null   object
 21  Студия-производитель                                   91284 non-null  object
 22  Страна производства                                    91339 non-null  object
 23  Год производства                                       91190 non-null  object
 24  Режиссер                                               88789 non-null  object
 25  Художник                                               33196 non-null  object
 26  Сценарист                                              79406 non-null  object
 27  Оператор                                               49091 non-null  object
 28  Композитор                                             57922 non-null  object
 29  Продюсер                                               54685 non-null  object
 30  Права на использование фильма                          91395 non-null  object
 31  Категория прав на использование фильма                 84685 non-null  object
 32  Срок действия прав на использование фильма             1 non-null      object
 33  Срок действия прав на способ использования фильма      85378 non-null  object
 34  Возрастная категория                                   91401 non-null  object
 35  Возрастная категория.1                                 91402 non-null  object
 36  Дубляж (где дублирован)                                656 non-null    object
 37  Срок действия прав проката до                          21 non-null     object
 38  Код                                                    91402 non-null  object
 39  Права проката переданы                                 280 non-null    object
 40  Порядковый номер переоформления/продления              6 non-null      object
 41  Должность подписанта                                   6687 non-null   object
 42  ФИО подписанта                                         6688 non-null   object
 43  Запись удалена                                         0 non-null      float64
 44  Дата удаления записи                                   1 non-null      object
 45  Не показывать на сайте mkrf.ru                         0 non-null      float64
 46  дата создания объекта                                  91402 non-null  object
 47  дата обновления объекта                                91402 non-null  object
dtypes: float64(6), int64(1), object(41)
memory usage: 33.5+ MB

In [ ]:
df = df[['Название фильма', 'Hаименование на иностранном языке', 'Номер удостоверения','Продолжительность демонстрации, часы', 'Продолжительность демонстрации, минуты', 'Страна производства', 'Год производства', 'Режиссер', 'Вид Фильма', 'Количество серий', 'Язык оригинала', 'Возрастная категория.1', 'Дата начала показа фильма']]

### Транслитерация названий столбцов

In [ ]:
!pip install transliterate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transliterate
  Downloading transliterate-1.10.2-py2.py3-none-any.whl (45 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.8/45.8 KB 5.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from transliterate) (1.15.0)
Installing collected packages: transliterate
Successfully installed transliterate-1.10.2

In [ ]:
from transliterate import translit
df.columns = [translit(x, 'ru', reversed=True).lower().replace(' ', '_').replace("'", '') for x in df.columns]

In [ ]:
translit('Мама мыла раму', 'ru', reversed=True)

'Mama myla ramu'

In [ ]:
df.columns

Index(['nazvanie_filma', 'haimenovanie_na_inostrannom_jazyke',
       'nomer_udostoverenija', 'prodolzhitelnost_demonstratsii,_chasy',
       'prodolzhitelnost_demonstratsii,_minuty', 'strana_proizvodstva',
       'god_proizvodstva', 'rezhisser', 'vid_filma', 'kolichestvo_serij',
       'jazyk_originala', 'vozrastnaja_kategorija.1',
       'data_nachala_pokaza_filma'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91402 entries, 0 to 91401
Data columns (total 13 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   nazvanie_filma                          91402 non-null  object
 1   haimenovanie_na_inostrannom_jazyke      47537 non-null  object
 2   nomer_udostoverenija                    91402 non-null  object
 3   prodolzhitelnost_demonstratsii,_chasy   75138 non-null  float64
 4   prodolzhitelnost_demonstratsii,_minuty  88905 non-null  float64
 5   strana_proizvodstva                     91339 non-null  object
 6   god_proizvodstva                        91190 non-null  object
 7   rezhisser                               88789 non-null  object
 8   vid_filma                               91397 non-null  object
 9   kolichestvo_serij                       34856 non-null  float64
 10  jazyk_originala                         4 non-null      float64
 11  vozrastnaja_kategorija.1                91402 non-null  object
 12  data_nachala_pokaza_filma               91193 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.1+ MB

### Перевод названий столбцов

In [ ]:
! pip install googletrans==4.0.0-rc1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting googletrans==4.0.0-rc1
  Downloading googletrans-4.0.0rc1.tar.gz (20 kB)
  Preparing metadata (setup.py) ... done
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.1/55.1 KB 4.4 MB/s eta 0:00:00
Collecting hstspreload
  Downloading hstspreload-2023.1.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 40.2 MB/s eta 0:00:00
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Collecting sniffio
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting chardet==3.*
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.4/133.4 KB 15.8 MB/s eta 0:00:00
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 KB 5.4 MB/s eta 0:00:00
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2022.12.7)
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.0/65.0 KB 8.7 MB/s eta 0:00:00
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.6/53.6 KB 6.7 MB/s eta 0:00:00
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-4.0.0rc1-py3-none-any.whl size=17414 sha256=db3875d70eac85c89471cd5aae2390efa799cf65e176a7d43306c3798e901837
  Stored in directory: /root/.cache/pip/wheels/a9/25/af/715361fa79594524c89c75d293def652045f3fdce6ca398712
Successfully built googletrans
Installing collected packages: rfc3986, hyperframe, hpack, h11, chardet, sniffio, hstspreload, h2, httpcore, httpx, googletrans
  Attempting uninstall: chardet
    Found existing installation: chardet 4.0.0
    Uninstalling chardet-4.0.0:
      Successfully uninstalled chardet-4.0.0
Successfully installed chardet-3.0.4 googletrans-4.0.0rc1 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2023.1.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.3.0

In [ ]:
from googletrans import Translator
translator = Translator()
df.columns = [translator.translate(x, src='ru').text.lower().replace(' ', '_') for x in df.columns]

In [ ]:
from googletrans import Translator
translator = Translator()
translator.translate('Привет, мир!', src='ru').text

'Hello World!'

In [ ]:
df.columns

Index(['movie_title', 'foreign_language', 'certificate_number',
       'duration_of_demonstration,_watch',
       'duration_of_demonstration,_minutes', 'country_of_origin',
       'production_year', 'producer', 'the_view_of_the_film',
       'the_number_of_episodes', 'original_language', 'age_category_1',
       'the_start_date_of_the_film_show'],
      dtype='object')

### Названия столбцов вручную

In [ ]:
df.columns =['name', 'foreign_name', 'license','hours', 'minutes', 'country', 'year', 'director', 'type', 'episodes', 'language', 'age', 'date_start']

In [ ]:
df

,name,foreign_name,license,hours,minutes,country,year,director,type,episodes,language,age,date_start
0,Почти знаменит,Almost Famous,221006316,2.0,3.0,США,2000,Кемерон Кроу,Художественный,NaN,NaN,18,2016-02-09T12:00:00.000Z
1,Открытое окно.,Open Window,221027814,1.0,37.0,США,2006,Миа Голдмен,Художественный,NaN,NaN,16,2014-06-30T12:00:00.000Z
2,Открытый простор,Open Range,221048915,2.0,23.0,США,2003,Кевин Костнер,Художественный,1.0,NaN,18,2015-11-27T12:00:00.000Z
3,Особо важное задание,NaN,111013716,2.0,4.0,СССР,1980,Е.Матвеев,Художественный,2.0,NaN,6,2016-09-13T12:00:00.000Z
4,Особо опасен,Wanted,221038416,1.0,50.0,США,2008,Тимур Бекмамбетов,Художественный,1.0,NaN,18,2016-10-10T12:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91397,"Отряд ""Фокстрот""",Foxtrot Six,221014920,1.0,50.0,Индонезия - США,2019,Рэнди Коромпис,Художественный,NaN,NaN,18,2020-10-19T12:00:00.000Z
91398,Генри Пул уже здесь,Henry Poole Is Here,221014420,1.0,35.0,США,2008,Марк Пеллингтон,Художественный,NaN,NaN,12,2020-10-19T12:00:00.000Z
91399,Дети ветра,NaN,211033820,2.0,58.0,Россия,2020,М.Демченко,Художественный,4.0,NaN,12,2020-10-30T12:00:00.000Z
91400,Приключения Аристотеля в Москве,NaN,212025020,0.0,39.0,Россия,2020,И.Волосецкий,Документальный,1.0,NaN,12,2020-10-31T12:00:00.000Z
91401,Маскерад,NaN,111012020,1.0,49.0,Россия,2020,М.Шевчук,Художественный,1.0,NaN,16,2020-10-22T12:00:00.000Z

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91402 entries, 0 to 91401
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          91402 non-null  object
 1   foreign_name  47537 non-null  object
 2   license       91402 non-null  object
 3   hours         75138 non-null  float64
 4   minutes       88905 non-null  float64
 5   country       91339 non-null  object
 6   year          91190 non-null  object
 7   director      88789 non-null  object
 8   type          91397 non-null  object
 9   episodes      34856 non-null  float64
 10  language      4 non-null      float64
 11  age           91402 non-null  object
 12  date_start    91193 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.1+ MB

### Предобработка данных


1.   Проверка пропусков
2.   Проверка на дубликаты
3.   Приведение типов

#### Проверка пропусков

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91402 entries, 0 to 91401
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          91402 non-null  object
 1   foreign_name  47537 non-null  object
 2   license       91402 non-null  object
 3   hours         75138 non-null  float64
 4   minutes       88905 non-null  float64
 5   country       91339 non-null  object
 6   year          91190 non-null  object
 7   director      88789 non-null  object
 8   type          91397 non-null  object
 9   episodes      34856 non-null  float64
 10  language      4 non-null      float64
 11  age           91402 non-null  object
 12  date_start    91193 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.1+ MB


*   Добавить длительность фильма
*   Убрать поле language
*   Приведем типы (age, date_start)

##### Заполним пропуски в длительности фильма

In [ ]:
df[(df['minutes'].isna() == False)&(df['hours'].isna() == True)]

,name,foreign_name,license,hours,minutes,country,year,director,type,episodes,language,age,date_start
178,Белый пудель,NaN,211044714,NaN,67.0,СССР,1955,"М.Рошаль, В.Шредель",Художественный,NaN,NaN,0,2014-09-17T12:00:00.000Z
279,Голос далёкой звезды,Hoshi no Koe,124003613,NaN,23.0,Япония,2003,Макото Синкай,Анимационный,NaN,NaN,12,2013-11-15T12:00:00.000Z
621,Рожденный в песках / По одноимённой книге Стив...,Young Black Stallion,221007614,NaN,48.0,США,2003,Саймон Уинсер,Художественный,NaN,NaN,12,2014-02-25T12:00:00.000Z
654,Сладкая сказка.,NaN,214029715,NaN,17.0,СССР,1970,В.Дегтярев,Анимационный,NaN,NaN,0,2015-10-27T12:00:00.000Z
667,Сказка сказывается,NaN,214029615,NaN,20.0,СССР,1970,И.Аксенчук,Анимационный,NaN,NaN,0,2015-10-27T12:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91271,Достопримечательности Казани,NaN,213003920,NaN,14.0,Россия,2012,М.Смелкова,Научно-популярный,NaN,NaN,12,2020-10-01T12:00:00.000Z
91276,Игры с ЙОКО,NaN,114001520,NaN,52.0,Россия,2019,Д.Ризванов,Анимационный,52.0,NaN,0,NaN
91277,МУЛЬТ в кино. Выпуск № 118,NaN,114001620,NaN,45.0,Россия,2020,П.Смирнов,Анимационный,NaN,NaN,0,2020-10-10T12:00:00.000Z
91299,ЭСКЕЙП,NaN,111017520,NaN,15.0,Россия,2020,А.Гаврилов,Художественный,NaN,NaN,12,2020-10-22T12:00:00.000Z
91300,ПОСЛЕ НАС,NaN,111017620,NaN,15.0,Россия,2020,И.Цгоева,Художественный,NaN,NaN,12,2020-10-15T12:00:00.000Z

In [ ]:
df['hours'] = df.apply(lambda row: 0 if row['hours']!=row['hours'] and row['minutes'] > 0 else row['hours'], axis = 1)

In [ ]:
df['minutes'] = df.apply(lambda row: 0 if row['minutes']!=row['minutes'] and row['hours'] > 0 else row['minutes'], axis = 1)

In [ ]:
df['duration_min'] = df['hours']*60+df['minutes']

In [ ]:
df.sample(5)

,name,foreign_name,license,hours,minutes,country,year,director,type,episodes,language,age,date_start,duration_min
62829,Магнолия,Magnolia,221136802Д,3.0,8.0,США,1999,Пол Томас Андерсон,Художественный,1.0,NaN,18,2002-12-27T12:00:00.000Z,188.0
2672,Самый быстрый,Fastes,226013012,1.0,50.0,США,2011,Марк Нил,Прочие,NaN,NaN,12,2012-08-27T12:00:00.000Z,110.0
86227,"ЗИГЗАГ УДАЧИ. Я, МОЖНО СКАЗАТЬ, ЕЕ ЛЮБЛЮ! Из ц...",NaN,212010618,0.0,39.0,Россия,2018,К.Голенчик,Документальный,NaN,NaN,12,2018-04-28T12:00:00.000Z,39.0
1282,Главная улица,Main Street,221009012,1.0,34.0,США,2010,Джон Дойл,Художественный,NaN,NaN,14,2012-01-27T12:00:00.000Z,94.0
8951,"Родные берега (в составе: ""Три гвардейца"", ""Пр...",NaN,211023014,0.0,58.0,СССР,1943,"В.Браун, Н.Садкович",Художественный,1.0,NaN,6,2014-07-22T12:00:00.000Z,58.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91402 entries, 0 to 91401
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          91402 non-null  object
 1   foreign_name  47537 non-null  object
 2   license       91402 non-null  object
 3   hours         90237 non-null  float64
 4   minutes       90236 non-null  float64
 5   country       91339 non-null  object
 6   year          91190 non-null  object
 7   director      88789 non-null  object
 8   type          91397 non-null  object
 9   episodes      34856 non-null  float64
 10  language      4 non-null      float64
 11  age           91402 non-null  object
 12  date_start    91193 non-null  object
 13  duration_min  90235 non-null  float64
dtypes: float64(5), object(9)
memory usage: 9.8+ MB

In [ ]:
df['duration_min'].describe()

count    90235.000000
mean       122.838655
std        269.978832
min          0.000000
25%         60.000000
50%         91.000000
75%        113.000000
max      17333.000000
Name: duration_min, dtype: float64

In [ ]:
df.query('duration_min > 17000')

,name,foreign_name,license,hours,minutes,country,year,director,type,episodes,language,age,date_start,duration_min
4881,До суда (1-371 серии),NaN,211047712,288.0,53.0,Россия,2012,А.Табачников,Художественный,371.0,NaN,12,2012-12-18T12:00:00.000Z,17333.0

In [ ]:
means = df.groupby(['type', 'episodes'])['duration_min'].mean()

In [ ]:
means = means.reset_index()

In [ ]:
means

                  type  episodes  duration_min
0         Анимационный       1.0     87.000000
1       Художественный       1.0     75.697987
2       Художественный       2.0    143.609665
3       Художественный       3.0    137.400000
4       Художественный       4.0    192.631799
..                 ...       ...           ...
395     Художественный     288.0  12672.000000
396     Художественный     371.0  17333.000000
397     документальный       1.0     78.000000
398  научно-популярный       1.0     30.000000
399  научно-популярный      16.0    624.000000

[400 rows x 3 columns]

In [ ]:
df['episodes'] = df['episodes'].replace(0, 1).fillna(1)

In [ ]:
avg_duration = df[df['duration_min'] >0]['duration_min'].median()
avg_duration

92.0

In [ ]:
def dur(duration, type, episodes):
  if duration == 0 or duration != duration:
   try:
    # подставляем значение из датафрейма means
    return(means[(means['type']==type)&(means['episodes']==episodes)]).iloc[0]['duration_min']
   except:
    # если такого значения нет (например, все нули), подставляем среднее по всем фильмам
    return avg_duration
  else:
    # если длительность >0 оставляем это значение
    return duration

In [ ]:
df['duration_min'] = df.apply(lambda x: dur(x['duration_min'], x['type'], x['episodes']),axis=1)

In [ ]:
df[df['duration_min'].isna() == True]

Empty DataFrame
Columns: [name, foreign_name, license, hours, minutes, country, year, director, type, episodes, language, age, date_start, duration_min]
Index: []

In [ ]:
df['duration_min'].describe()

count    91402.000000
mean       122.177705
std        268.381096
min          1.000000
25%         59.000000
50%         91.000000
75%        113.000000
max      17333.000000
Name: duration_min, dtype: float64

#### Проверка на дубли

In [ ]:
df.duplicated().sum()

26

In [ ]:
df[df.duplicated(keep = False)==True].sort_values(by = 'license' ).head(6)

,name,foreign_name,license,hours,minutes,country,year,director,type,episodes,language,age,date_start,duration_min
28687,Майкл Джексон в Москве,NaN,217030709,0.0,30.0,Россия,2009,А.Салбиев,Прочие,1.0,NaN,0,2009-07-27T12:00:00.000Z,30.0
28689,Майкл Джексон в Москве,NaN,217030709,0.0,30.0,Россия,2009,А.Салбиев,Прочие,1.0,NaN,0,2009-07-27T12:00:00.000Z,30.0
20448,Дневник памяти /По роману Николаса Спракса/,The notebook,221004609,2.0,4.0,США,2004,Ник Кассаветис,Художественный,1.0,NaN,16,2009-01-19T12:00:00.000Z,124.0
29968,Дневник памяти /По роману Николаса Спракса/,The notebook,221004609,2.0,4.0,США,2004,Ник Кассаветис,Художественный,1.0,NaN,16,2009-01-19T12:00:00.000Z,124.0
86725,Тело,NaN,221013418,1.0,41.0,"Германия, Канада",2017,Норберт Кайль,Художественный,1.0,NaN,18,2018-06-20T12:00:00.000Z,101.0
86724,Тело,NaN,221013418,1.0,41.0,"Германия, Канада",2017,Норберт Кайль,Художественный,1.0,NaN,18,2018-06-20T12:00:00.000Z,101.0

In [ ]:
df = df.drop_duplicates()

In [ ]:
df['name'].duplicated().sum()

15543

In [ ]:
df['name'].str.strip().str.lower().duplicated().sum()

15790

In [ ]:
duplicated_names = df[df['name'].duplicated() == True]['name']

In [ ]:
duplicated_names_lower = df[df['name'].str.strip().str.lower().duplicated() == True]['name'].str.strip().str.lower()

In [ ]:
duplicated_names

5                      Особо опасен
6                      Особо опасен
27                   Осенняя соната
91                          Персона
93                         Молчание
                    ...
91390                   За облаками
91391         Ловцы забытых голосов
91392    Пять сантиметров в секунду
91393              Сад изящных слов
91398           Генри Пул уже здесь
Name: name, Length: 15543, dtype: object

In [ ]:
duplicated_names_lower

5                      особо опасен
6                      особо опасен
27                   осенняя соната
91                          персона
93                         молчание
                    ...
91390                   за облаками
91391         ловцы забытых голосов
91392    пять сантиметров в секунду
91393              сад изящных слов
91398           генри пул уже здесь
Name: name, Length: 15790, dtype: object

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.query('name == "Особо опасен"')

,name,foreign_name,license,hours,minutes,country,year,director,type,episodes,language,age,date_start,duration_min
4,Особо опасен,Wanted,221038416,1.0,50.0,США,2008,Тимур Бекмамбетов,Художественный,1.0,NaN,18,2016-10-10T12:00:00.000Z,110.0
5,Особо опасен,Wanted,221026916,1.0,50.0,США,2008,Тимур Бекмамбетов,Художественный,1.0,NaN,18,2016-06-10T12:00:00.000Z,110.0
6,Особо опасен,Wanted,221030815,1.0,50.0,США,2008,Тимур Бекмамбетов,Художественный,1.0,NaN,18,2015-07-29T12:00:00.000Z,110.0
31922,Особо опасен,Wanted,221205508,1.0,50.0,США,2008,Тимур Бекмамбетов,Художественный,1.0,NaN,18,2008-11-18T12:00:00.000Z,110.0
31923,Особо опасен,Wanted,221223308,1.0,50.0,США,2008,Тимур Бекмамбетов,Художественный,1.0,NaN,18,2008-10-31T12:00:00.000Z,110.0
31924,Особо опасен,Wanted,121011108,1.0,50.0,США,2008,Тимур Бекмамбетов,Художественный,1.0,NaN,18,2008-05-12T12:00:00.000Z,110.0
31925,Особо опасен,Wanted,221071708,1.0,50.0,США,2008,Тимур Бекмамбетов,Художественный,1.0,NaN,18,2008-05-12T12:00:00.000Z,110.0

#### Приведение типов данных

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91376 entries, 0 to 91401
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          91376 non-null  object
 1   foreign_name  47513 non-null  object
 2   license       91376 non-null  object
 3   hours         90211 non-null  float64
 4   minutes       90210 non-null  float64
 5   country       91313 non-null  object
 6   year          91164 non-null  object
 7   director      88763 non-null  object
 8   type          91371 non-null  object
 9   episodes      91376 non-null  float64
 10  language      4 non-null      float64
 11  age           91376 non-null  object
 12  date_start    91167 non-null  object
 13  duration_min  91376 non-null  float64
dtypes: float64(5), object(9)
memory usage: 10.5+ MB

In [ ]:
df['date_start'] = pd.to_datetime(df['date_start'])

<ipython-input-150-77e2ea576a9c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date_start'] = pd.to_datetime(df['date_start'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91376 entries, 0 to 91401
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          91376 non-null  object
 1   foreign_name  47513 non-null  object
 2   license       91376 non-null  object
 3   hours         90211 non-null  float64
 4   minutes       90210 non-null  float64
 5   country       91313 non-null  object
 6   year          91164 non-null  object
 7   director      88763 non-null  object
 8   type          91371 non-null  object
 9   episodes      91376 non-null  float64
 10  language      4 non-null      float64
 11  age           91376 non-null  object
 12  date_start    91167 non-null  datetime64[ns, UTC]
 13  duration_min  91376 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(5), object(8)
memory usage: 10.5+ MB

In [ ]:
dates = pd.DataFrame({'name':['A', 'B'], 'date':['03*20*2022','05*19*2021' ]})

In [ ]:
dates['date2'] =  pd.to_datetime(dates['date'])

In [ ]:
dates

  name       date
0    A 2022-03-20
1    B 2021-05-19

In [ ]:
dates['date'] = pd.to_datetime(dates['date'], format = '%m*%d*%Y')

In [ ]:
dates

  name       date
0    A 2022-03-20
1    B 2021-05-19

https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [ ]:
dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   date    2 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 160.0+ bytes

In [ ]:
df.head()

,name,foreign_name,license,hours,minutes,country,year,director,type,episodes,language,age,date_start,duration_min
0,Почти знаменит,Almost Famous,221006316,2.0,3.0,США,2000,Кемерон Кроу,Художественный,1.0,NaN,18,2016-02-09 12:00:00+00:00,123.0
1,Открытое окно.,Open Window,221027814,1.0,37.0,США,2006,Миа Голдмен,Художественный,1.0,NaN,16,2014-06-30 12:00:00+00:00,97.0
2,Открытый простор,Open Range,221048915,2.0,23.0,США,2003,Кевин Костнер,Художественный,1.0,NaN,18,2015-11-27 12:00:00+00:00,143.0
3,Особо важное задание,NaN,111013716,2.0,4.0,СССР,1980,Е.Матвеев,Художественный,2.0,NaN,6,2016-09-13 12:00:00+00:00,124.0
4,Особо опасен,Wanted,221038416,1.0,50.0,США,2008,Тимур Бекмамбетов,Художественный,1.0,NaN,18,2016-10-10 12:00:00+00:00,110.0

In [ ]:
df['age'] = df['age'].astype(int)

ValueError: ignored

### Try-except

In [ ]:
4+'2'

TypeError: ignored

In [ ]:
try:
  '4'+2
  print(4+2)
except:
  print('Oops!')

Oops!

In [ ]:
a = [4, 2]
b = 1
try:
  a/c
except ZeroDivisionError:
  print('Division by zero')
except TypeError:
  print('Not number')
except:
  print('Error')

Error

In [ ]:
df['age'].unique()

array([18, 16, 6, 0, 12, 14, '0', '16', '12', '14', '18', '6', ' '],
      dtype=object)

In [ ]:
df['age'] = df['age'].replace(' ', 0)

<ipython-input-174-e3df8c5c8e10>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df['age'].replace(' ', 0)

In [ ]:
df['age'] = df['age'].astype(int)

<ipython-input-175-9b0df8191b9d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df['age'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91376 entries, 0 to 91401
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          91376 non-null  object
 1   foreign_name  47513 non-null  object
 2   license       91376 non-null  object
 3   hours         90211 non-null  float64
 4   minutes       90210 non-null  float64
 5   country       91313 non-null  object
 6   year          91164 non-null  object
 7   director      88763 non-null  object
 8   type          91371 non-null  object
 9   episodes      91376 non-null  float64
 10  language      4 non-null      float64
 11  age           91376 non-null  int64
 12  date_start    91167 non-null  datetime64[ns, UTC]
 13  duration_min  91376 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(5), int64(1), object(7)
memory usage: 10.5+ MB

Почитать про ошибки в документации:
https://docs.python.org/3/tutorial/errors.html

#### Merge

Документация:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [ ]:
bo = pd.read_csv('/content/drive/My Drive/data/movies/box_office.csv')

In [ ]:
bo = bo[['№ ПУ', 	'Сборы, руб.']]

In [ ]:
bo.columns = ['license', 'revenue']

In [ ]:
bo.head()

                 license       revenue
0              111021719  3.073569e+09
1  124004919 / 124002720  2.635292e+09
2              121005519  2.576614e+09
3              111024918  2.271754e+09
4              121026219  1.911945e+09

In [ ]:
bo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   license  615 non-null    object
 1   revenue  626 non-null    float64
dtypes: float64(1), object(1)
memory usage: 9.9+ KB

In [ ]:
df.merge(bo, on = 'license').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 603 entries, 0 to 602
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          603 non-null    object
 1   foreign_name  394 non-null    object
 2   license       603 non-null    object
 3   hours         601 non-null    float64
 4   minutes       601 non-null    float64
 5   country       603 non-null    object
 6   year          603 non-null    object
 7   director      603 non-null    object
 8   type          603 non-null    object
 9   episodes      603 non-null    float64
 10  language      0 non-null      float64
 11  age           603 non-null    int64
 12  date_start    602 non-null    datetime64[ns, UTC]
 13  duration_min  603 non-null    float64
 14  revenue       603 non-null    float64
dtypes: datetime64[ns, UTC](1), float64(6), int64(1), object(7)
memory usage: 75.4+ KB

In [ ]:
df.merge(bo, on = 'license', how = 'left')

,name,foreign_name,license,hours,minutes,country,year,director,type,episodes,language,age,date_start,duration_min,revenue
0,Почти знаменит,Almost Famous,221006316,2.0,3.0,США,2000,Кемерон Кроу,Художественный,1.0,NaN,18,2016-02-09 12:00:00+00:00,123.0,NaN
1,Открытое окно.,Open Window,221027814,1.0,37.0,США,2006,Миа Голдмен,Художественный,1.0,NaN,16,2014-06-30 12:00:00+00:00,97.0,NaN
2,Открытый простор,Open Range,221048915,2.0,23.0,США,2003,Кевин Костнер,Художественный,1.0,NaN,18,2015-11-27 12:00:00+00:00,143.0,NaN
3,Особо важное задание,NaN,111013716,2.0,4.0,СССР,1980,Е.Матвеев,Художественный,2.0,NaN,6,2016-09-13 12:00:00+00:00,124.0,NaN
4,Особо опасен,Wanted,221038416,1.0,50.0,США,2008,Тимур Бекмамбетов,Художественный,1.0,NaN,18,2016-10-10 12:00:00+00:00,110.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91371,"Отряд ""Фокстрот""",Foxtrot Six,221014920,1.0,50.0,Индонезия - США,2019,Рэнди Коромпис,Художественный,1.0,NaN,18,2020-10-19 12:00:00+00:00,110.0,NaN
91372,Генри Пул уже здесь,Henry Poole Is Here,221014420,1.0,35.0,США,2008,Марк Пеллингтон,Художественный,1.0,NaN,12,2020-10-19 12:00:00+00:00,95.0,NaN
91373,Дети ветра,NaN,211033820,2.0,58.0,Россия,2020,М.Демченко,Художественный,4.0,NaN,12,2020-10-30 12:00:00+00:00,178.0,NaN
91374,Приключения Аристотеля в Москве,NaN,212025020,0.0,39.0,Россия,2020,И.Волосецкий,Документальный,1.0,NaN,12,2020-10-31 12:00:00+00:00,39.0,NaN
91375,Маскерад,NaN,111012020,1.0,49.0,Россия,2020,М.Шевчук,Художественный,1.0,NaN,16,2020-10-22 12:00:00+00:00,109.0,NaN

In [ ]:
df.merge(bo, on = 'license', how = 'right')

,name,foreign_name,license,hours,minutes,country,year,director,type,episodes,language,age,date_start,duration_min,revenue
0,Холоп,NaN,111021719,1.0,49.0,Россия,2019,К.Шипенко,Художественный,1.0,NaN,12.0,2019-12-19 12:00:00+00:00,109.0,3.073569e+09
1,NaN,NaN,124004919 / 124002720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2.635292e+09
2,Мстители: Финал,Avengers: Endgame,121005519,3.0,3.0,США,2019,"Джо Руссо, Энтони Руссо",Художественный,1.0,NaN,16.0,2019-04-29 12:00:00+00:00,183.0,2.576614e+09
3,Т-34,NaN,111024918,2.0,19.0,Россия,2018,А.Сидоров,Художественный,1.0,NaN,12.0,2018-12-21 12:00:00+00:00,139.0,2.271754e+09
4,Малефисента: Владычица тьмы,Maleficent: Mistress of Evil,121026219,1.0,55.0,США,2019,Йоаким Роннинг,Художественный,1.0,NaN,6.0,2019-10-04 12:00:00+00:00,115.0,1.911945e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,Ведьма Гор,NaN,211013019,1.0,41.0,Россия,2019,С.Лагкуев,Художественный,1.0,NaN,16.0,2019-04-30 12:00:00+00:00,101.0,3.200000e+04
622,Дядя Саша,NaN,211018618,1.0,35.0,Россия,2018,А.Гордон,Художественный,1.0,NaN,18.0,2018-06-02 12:00:00+00:00,95.0,2.835800e+04
623,Дети футбола,NaN,212009319,0.0,54.0,Россия,2018,"П.Иванов, В.Сидоренко",Документальный,1.0,NaN,0.0,2019-05-17 12:00:00+00:00,54.0,1.320000e+04
624,Время собирать цветы,NaN,112025118,0.0,40.0,Россия,2018,Г.Щерба,Документальный,1.0,NaN,12.0,2019-01-01 12:00:00+00:00,40.0,7.175000e+03
625,Счастье - это...Часть 2,NaN,111005319,1.0,47.0,Россия,2019,"А.Боровикова, Е.Войтович, З.Джиджилава, А.Тимо...",Художественный,1.0,NaN,6.0,2019-03-20 12:00:00+00:00,107.0,4.398400e+03

In [ ]:
df = df.merge(bo, on = 'license', how = 'inner')

In [ ]:
df1 = pd.DataFrame({'A':[1, 2], 'B':[2, 4]})
df2 = pd.DataFrame({'A':[5, 7], 'B':[12, 54]})

In [ ]:
df1

   A  B
0  1  2
1  2  4

In [ ]:
df2

   A   B
0  5  12
1  7  54

In [ ]:
df1.merge(df2, how = 'cross', suffixes = ('_first', '_second'))

   A_first  B_first  A_second  B_second
0        1        2         5        12
1        1        2         7        54
2        2        4         5        12
3        2        4         7        54

In [ ]:
df.groupby('year')['revenue'].sum().sort_values(ascending = False)

year
2019         4.411669e+10
2018         6.878508e+09
2017         9.985595e+07
2013-2018    6.164575e+06
2016         4.263038e+06
2015-2018    3.405546e+06
2018-2019    3.008087e+06
2017-2018    2.893569e+06
2007         1.485359e+06
2013         1.135592e+06
1918/2018    1.003669e+06
2012-2018    4.262475e+05
2016-2018    3.561270e+05
2014         2.399760e+05
Name: revenue, dtype: float64

In [ ]:
df[df['year']=='2019'].groupby('name')['revenue'].sum().sort_values(ascending = False).reset_index()

                            name       revenue
0                          Холоп  3.073569e+09
1                Мстители: Финал  2.576614e+09
2    Малефисента: Владычица тьмы  1.911945e+09
3                         Джокер  1.890368e+09
4             Холодное сердце II  1.827245e+09
..                           ...           ...
342                Глазами детей  5.054300e+04
343               Диего Марадона  3.833000e+04
344          Земная сторона Луны  3.341000e+04
345                   Ведьма Гор  3.200000e+04
346      Счастье - это...Часть 2  4.398400e+03

[347 rows x 2 columns]

Стемминг

In [ ]:
from nltk.stem import SnowballStemmer 
russian_stemmer = SnowballStemmer('russian')

In [ ]:
russian_stemmer.stem('счастье')

'счаст'

In [ ]:
df['name'] = df['name'].str.lower()

In [ ]:
list_stem = []
for movie in df['name']:
    for word in movie.split():
        stemmed_word = russian_stemmer.stem(word)
        if stemmed_word == 'счаст':
            list_stem.append(movie)
            print(movie) 
print(len(list_stem))

счастье - это...часть 2
1

Лемматизация

In [ ]:
from pymystem3 import Mystem
m = Mystem()

In [ ]:
m.lemmatize('любовь')

In [ ]:
list_lemm = []
for movie in df['name']:
    for lemma in m.lemmatize(movie):
        if lemma == 'любовь':
            list_lemm.append(movie)
print(len(list_lemm))